* {
    margin: 0px;
    padding: 0px;
}

/* shared class list  */

.orange-color {
    color: #FD6E0A;
}

.black-color-1 {
    color: #474747;
}

.black-color-2 {
    color: #181818;
}

.primary-btn {
    color: #FFF;
    border-radius: 3px;
    background: #FD6E0A;
    padding: 10px;
    border: 0px;
    width: 105px;
}

.primary-title {
    text-align: center;
    color: #181818;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Anton', sans-serif;

}

.primary-p1 {
    color: #474747;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.primary-p2 {
    font-size: 20px;
    font-weight: 700;
}




/* nav style start  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.nav-title {
    color: #181818;
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    font-weight: 800;
}



nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
}


/* header section start  */
.header-container {
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 110px 600px;
    margin-left: 10px;
    margin-top: 10px;
}


.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../images/header_bg.png ');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 650px 430px;
}

.greeting-banner {
    display: block;
    width: 500px;
    margin-left: 200px;
}

.hi-greeting {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px;
}

.name-greeting {
    font-size: 65px;
    font-weight: 700;
    padding-bottom: 15px;
}

.p-greeting {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}


img {
    width: 480px;
    height: 537px;
}



/* about section start  */

.about {
    background-color: #FFF8F3;
    margin: 130px auto 0px auto;
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 700px;
    height: 450px;
}

.about>p {
    margin-top: 20px;
}



.about-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


/* what i do section start  */

.what-i-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.what-i-do-info {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    width: 800px;
    height: 80px;
    margin: auto;
    text-align: center;
}

.what-i-do-details {
    display: flex;
    margin: 40px;
}


.skills {
    margin: 50px auto 160px;
    width: 190px;
    height: 250px;
    text-align: left;
}

.skills>img {
    width: 38px;
    height: 35px;
    padding-bottom: 30px;
}

.skills>h2 {
    padding-bottom: 15px;
}

.skills>p {
    padding-bottom: 15px;
    font-weight: 400;
    color: #757575;
    line-height: 25px;
}


/* summary resume start here  */

.summary-resume {
    margin-bottom: 100px;
}

.summary-resume>button {
    display: block;
    margin: auto;
}

.all-resume-list {
    display: flex;
    margin-top: 80px;
    padding: 0px 50px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.resume-list {
    width: 600px;
}

.resume-list>h2 {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 35px;
}

.resume-list>h2 {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 35px;
}

.resume>h3 {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}

.resume>h4 {
    color: #757575;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}

.resume>p {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 30px;
}


/* footer section start  */

.footer {
    display: flex;
    justify-content: space-around;
    padding: 0px 60px;
    margin-bottom: 50px;
}

.link-info {
    width: 500px;
    padding-right: 50px;
}

.link-info>h1 {
    padding-bottom: 20px;
}

.link-info>p {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

.link>img {
    width: 30px;
    height: 30px;
    padding: 0px 5px 0px 0px;
}


.contact-form{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.contact-form > h1{
    padding-bottom: 20px;
}

.contact-form > input[type="text"], input[type="email"], textarea{
    width: 300px;
    padding: 15px;
    height: 15px;
    margin-bottom: 30px;
    border: 0px;
}    



@media screen and (max-width: 576px) {
    .header-container{
        height: 640px;
    }

    nav{
        margin-left: 135px;
    }


    .nav-title{
        padding-right: 200px;
    }

    .greeting-banner{
        margin-left:130px;
        height: 405px;
    }

    .header-section{
        background-image: none;

    }

    .primary-btn{
        margin: 5px;
    }

    img{
        margin-left: 60px;
        width: 360px;
        height: 420px;
        margin-top: 85px;
    }

    .about{
        margin: 130px auto 0px 50px;
    }

     .what-i-do-details{
        width: 263%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

     .what-i-do > h1{
        width: 170px;
        margin-left: 320px;
     }

     .skills {
        width: 630px;
        height: 270px;
        margin: 0px;
    }
     .skills>img {
        width: 38px;
        height: 35px;
        padding-bottom: 30px;
        text-align: left;
        margin-left: 0px;
    }

    .summary-resume {
        margin-bottom: 100px;
        width: 278vw;
        margin-top: 100px;
    }

    .footer {
        display: flex;
        justify-content: space-around;
        padding: 0px 0px;
        width: 250vw;
        margin: 50px 50px;
    }

}    

